@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    height: 100%;
}

main {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        .qr-code {
            img {
                width: 100%;
                border-radius: 1rem;
            }
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 1rem 0;
            color: hsl(218, 44%, 22%);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            margin: 0 1rem 1rem;
            color: hsl(216, 15%, 48%);
        }
    }
}


footer {
    
    &.attribution { 
        margin-bottom: 1rem;
        font-size: 11px; 
        text-align: center; 

        a { 
            color: hsl(218, 44%, 22%);
            &:hover {
            color: hsl(216, 15%, 48%);
            }
        }
    }
}